// BREAKPOINTS
$bp-row: 80em; // 1280px
$bp-largest: 68.25em; // 1100px
$bp-large: 64em; // 1024px
$bp-medium: 49.75em; // 796px
$bp-small: 41em; // 656px
$bp-smaller: 32em; // 512px
$bp-tiny: 28em; //448px # THIS WAS CHANGED FROM REM TO EM MAY AFFECT STYLING
$bp-atom: 21em; // 336px;

// FONT FAMILY VARIABLE
$font-body: 'Work Sans', sans-serif, Arial, apple color emoji,segoe ui emoji,segoe ui symbol;
$font-heading: 'Playfair Display', Arial, sans-serif;

// FONT WEIGHTS
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;


// COLORS
$color-primary: #ED8B16;
$color-primary--light: #ff8c00;

// UTILITY COLORS
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-dark-blue: #1f2c73;

$color-button-event-light: rgba(0,0,0,.04);

$color-white: #fff;
$color-black: #000;

// BACKGROUND COLOR
$background-trans: rgba($color-primary, .9); //  OPAQE BACKGROUND FOR HOVERE BUTTON

// PADDING LEFT AND RIGHT
$desktop-padding-lnr: 6rem;

// TABLE BORDER BOTTOM
$table-border-bottom: .7px solid rgba($color-grey-light-4, .6);