:root {
	--light-pink: #e4d3cd;
	--dark-pink: #a08a8c;
	--medium-green: #739484;
	--yellow: #eabc68;
	--dark-yellow: #a79070;
	--light-purple: #e0dffd;
	--light-blue: #dae4eb;
	--dark-blue: #32435f;
	--ease-in: all .25s ease-in;
	--ease-fast: all .15s ease;
}

body {
	font-family: "Work Sans", sans-serif, Arial, apple color emoji, segoe ui emoji, segoe ui symbol;
	font-family: "Karla";
}

.heading {
	/* font-family: 'Poppins'; */
	font-family: 'Roboto';
}

.heading-serif {
	font-family: "Playfair Display", Arial, sans-serif;
}

#navbar {
	--bs-nav-link-font-weight: 500;
}

#header .navbar-toggle-icon {
	width: 20px;
	height: 2px;
	background-color: var(--bs-gray-600);
	transition: inherit;
}

#header .navbar-toggle-icon+.navbar-toggle-icon {
	margin-top: 4px;
}

#header .navbar-toggler[aria-expanded="true"] .navbar-toggle-icon:nth-child(2) {
	opacity: 0;
}

#header .navbar-toggler[aria-expanded="true"] .navbar-toggle-icon:nth-child(1) {
	transform: rotate(45deg);
}

#header .navbar-toggler[aria-expanded="true"] .navbar-toggle-icon:nth-child(3) {
	transform: rotate(-45deg);
	text-shadow: 1px 1px black;
}

.font-weight-300 {
	font-weight: 300 !important;
}

.font-weight-400 {
	font-weight: 400 !important;
}

.font-weight-500 {
	font-weight: 500 !important;
}

.font-weight-600 {
	font-weight: 600 !important;
}

.font-weight-700 {
	font-weight: 700 !important;
}

.font-weight-800 {
	font-weight: 800 !important;
}

.font-weight-900 {
	font-weight: 900 !important;
}

.btn-orange {
	--bs-btn-bg: var(--color-primary);
	--bs-btn-hover-bg: var(--color-primary--light);
	--bs-btn-color: #fff;
	--bs-btn-hover-color: #fff;
}

.text-dark-pink {
	color: var(--dark-pink);
}

.text-medium-green {
	color: var(--medium-green);
}

.text-yellow {
	color: var(--yellow);
}

.bg-yellow {
	background-color: var(--yellow);
}

.ease-1 {
	transition: var(--ease-in);
}

.btn {
	--bs-btn-padding-y: 0.5rem;
	--bs-btn-padding-x: 1rem;
	font-weight: 500;
}

.btn.btn-lg {
	--bs-btn-padding-y: 1rem;
	--bs-btn-padding-x: 1.5rem;
	--bs-btn-font-size: inherit;
}

.btn-pink {
	--bs-btn-bg: var(--light-pink);
	--bs-btn-color: var(--dark-pink);
	--bs-btn-hover-bg: var(--dark-pink);
	--bs-btn-hover-color: #fff;
	--bs-btn-active-border-color: var(--dark-pink);
	--bs-btn-active-color: var(--dark-pink);
}

.btn-outline-yellow {
	--bs-btn-color: var(--yellow);
	--bs-btn-border-color: var(--yellow);
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: var(--yellow);
	--bs-btn-hover-border-color: var(--yellow);
}


.underlined::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 10%;
	height: 2px;
	background-color: currentColor;
}

.underlined {
	padding-bottom: 5px;
	position: relative;
}

#main {
	margin-top: 7.2rem;
}

@media screen and (max-width: 991px) {
	#main {
		margin-top: 6.6rem;
	}
}

.product .product-discount-tag {
	background-color: var(--medium-green);
}

.product:hover .product-body {
	margin-top: 0 !important;
	border-color: var(--bs-light) !important;
	background-color: var(--bs-light);
}

.product:hover {
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.add-to-cart-btn>.btn {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.cart-qty-btn .btn {
	padding: 0.6rem;
}

.product .cart-qty {
	padding: 0 0.4rem;
}

.btn-line {
	white-space: nowrap;
	letter-spacing: 2px;
}

.btn-line::after {
	position: absolute;
	content: '';
	transition: var(--ease-in);
	width: 25px;
	height: 2px;
	background-color: currentcolor;
	top: 50%;
	transform: translateX(7px);
}

.btn-line:hover::after {
	transform: translateX(15px);
}

a.text-decoration-hover {
	text-decoration: none;
}


a.text-decoration-hover:hover {
	text-decoration: underline;
}