#checkoutButton>.btn {
	--bs-btn-padding-y: 3rem;
	--bs-btn-padding-x: 3rem;
	width: 100%;
}

#cartNotFound::after {
	content: '';
	position: absolute;
	height: 70%;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--light-purple);
	z-index: -1;
}

@media screen and (min-width: 768px) {
	.cart-page {
		min-height: 82vh;
	}
}

#cartNotFound>img {
	width: 14rem;
}

#cart .cart-product-img {
	width: 4.5rem;
	height: 4.5rem;
}

#cartWrap {
	max-height: 23rem;
}

#cartWrap::-webkit-scrollbar-thumb {
	background-color: #727272;
}

#cartWrap::-webkit-scrollbar-track {
	background-color: #ccc;
}

#cartWrap::-webkit-scrollbar {
	width: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 7rem;
}


#cart td {
	transition: var(--ease-in);
	--bs-table-hover-bg: var(--bs-gray-100);
}