*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-body: "Work Sans", sans-serif, Arial, apple color emoji,segoe ui emoji,segoe ui symbol;
  --font-heading: "Playfair Display", Arial, sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --color-primary: #ED8B16;
  --color-primary--light: #ff8c00;
  --color-secondary: #0a6b68;
  --spacing-1: .8rem;
  --spacing-2: 1.6rem;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --gray0: 255,255,255;
  --gray5: 238,240,243;
  --gray10: 222,225,231;
  --gray15: 206,210,219;
  --gray20: 191,196,207;
  --gray30: 163,169,182;
  --gray40: 137,144,158;
  --gray50: 113,120,134;
  --gray60: 91,97,110;
  --gray70: 70,75,85;
  --gray80: 50,53,61;
  --gray90: 30,32,37;
  --gray100: 10,11,13;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-dark-blue: #1f2c73;
  --color-white: #fff;
  --color-black: #000;
  --color-red: red;
  --color-purple: purple;
  --line: rgba(var(--gray60), .2);
  --b-radius-button: 4px;
  --b-radius-section: 1.3rem;
  --b-radius--medium: 1rem;
  --b-radius--small: 6px;
  --box-shadow-light: 0 .1rem 1rem rgba(0 ,0, 0, .1);
  --border-bottom-light: 1px solid #eff2f7;
  --dim-0: 0rem;
  --dim-1: 1rem;
  --dim-2: 2rem;
  --dim-3: 3rem;
  --dim-4: 4rem;
  --dim-6: 6rem;
  --dim-5: 5rem;
}

html {
  font-size: 62.5%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

small {
  display: block;
}

@media only screen and (max-width: 37.5em) {
  input, textarea, select {
    font-size: 16px !important;
  }
}
::placeholder,
::-moz-placeholder {
  opacity: 0.6;
}

button:focus, [tabindex]:focus {
  outline: none !important;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

body {
  line-height: 1.5;
  background-color: #fff;
  font-family: "Work Sans", sans-serif, Arial, apple color emoji, segoe ui emoji, segoe ui symbol, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-600);
  line-height: 1.08;
  letter-spacing: 0;
  font-weight: 900;
}
@media only screen and (max-width: 37.5em) {
  h1, h2, h3, h4 {
    line-height: 1.3;
  }
}

.heading-1 {
  font-size: 4.8rem;
  line-height: 1.2;
}
@media only screen and (max-width: 41em) {
  .heading-1 {
    font-size: 5rem;
  }
}

.heading-2 {
  font-size: 4.2rem;
}

.heading-3 {
  font-size: 3.6rem;
}

.heading-tertiary {
  font-size: 3.5rem;
  margin-bottom: 2.4rem;
}
.heading-tertiary--light {
  font-weight: var(--font-weight-300);
}
.heading-tertiary--margin-small {
  margin-bottom: 1.6rem;
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 3.7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary--mobile {
    font-size: 3rem;
  }
}

.heading-quart {
  font-size: 1.8rem;
  font-weight: var(--font-weight-700);
}

.paragraph {
  font-size: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}
.paragraph--small {
  max-width: 75rem;
  padding: 0 2.4rem;
}
.paragraph--1 {
  max-width: 82rem;
}
@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.9rem;
  }
}
.paragraph--small-f {
  font-size: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .paragraph--small-f {
    font-size: 2rem;
  }
}

.row {
  max-width: 128rem !important;
  margin: 0 auto !important;
}
@media only screen and (max-width: 80em) {
  .row {
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 80em) {
  .row-margin {
    margin: 0 2rem;
  }
}

.width-wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}

.loader {
  animation: load 600ms linear infinite;
}

.center-element {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-underline {
  text-decoration: underline !important;
}

.hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  -ms-clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip: rect(1px, 1px, 1px, 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.opacity-0 {
  opacity: 0;
}

.container {
  width: 100%;
}
.container--light {
  background-color: #f4ba75;
}
.container--register {
  padding: 6rem 0;
}
@media only screen and (max-width: 32em) {
  .container--register {
    padding: 0;
    background-color: var(--color-primary);
  }
}
.container--login {
  min-height: 100vh;
  padding: 6rem 0;
}
@media only screen and (max-width: 32em) {
  .container--login {
    padding: 0 0 5rem 0;
    background-color: var(--color-white);
  }
}
.container--forgot {
  min-height: 100vh;
  padding: 6rem 0;
}
@media only screen and (max-width: 32em) {
  .container--forgot {
    padding: 0 0 5rem 0;
  }
}

.show-password {
  position: absolute;
  top: 2rem;
  right: 1rem;
  color: var(--color-primary);
}
.show-password--full {
  top: 50%;
  transform: translateY(-50%);
}

.right-1 {
  right: 1rem;
}

.right-2 {
  right: 2rem;
}

.right-3 {
  right: 3rem;
}

.right-4 {
  right: 4rem;
}

.right-5 {
  right: 5rem;
}

.right-6 {
  right: 6rem;
}

.right-7 {
  right: 7rem;
}

.cursor-pointer {
  cursor: pointer;
}

.denied {
  position: fixed;
  top: 20%;
  left: 2%;
  z-index: 222222222222222;
  min-width: 100px;
  max-width: 300px;
  padding: 2rem;
  text-align: center;
  color: red;
  background-color: #fff;
  box-shadow: var(--box-shadow-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}
.denied--inactive {
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  visibility: hidden;
}
.denied__icon-box {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid red;
  position: relative;
}
.denied__icon {
  width: 3rem;
  height: 3rem;
  fill: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.denied__writeup {
  margin: 2rem 0;
  font-weight: var(--font-weight-500);
  font-size: 1.8rem;
}
.denied__btn {
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: red !important;
  color: var(--color-white) !important;
}

.show {
  display: block !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-1 {
  margin-top: 1rem !important;
}

.margin-top-2 {
  margin-top: 2rem !important;
}

.margin-top-3 {
  margin-top: 3rem !important;
}

.margin-top-4 {
  margin-top: 4rem !important;
}

.margin-top-5 {
  margin-top: 5rem !important;
}

.margin-top-6 {
  margin-top: 6rem !important;
}

.margin-top-7 {
  margin-top: 7rem !important;
}

.margin-top-8 {
  margin-top: 8rem !important;
}

.margin-top-9 {
  margin-top: 9rem !important;
}

.margin-top-10 {
  margin-top: 10rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0rem !important;
}

.margin-bottom-1 {
  margin-bottom: 1rem !important;
}

.margin-bottom-2 {
  margin-bottom: 2rem !important;
}

.margin-bottom-3 {
  margin-bottom: 3rem !important;
}

.margin-bottom-4 {
  margin-bottom: 4rem !important;
}

.margin-bottom-5 {
  margin-bottom: 5rem !important;
}

.margin-bottom-6 {
  margin-bottom: 6rem !important;
}

.margin-bottom-7 {
  margin-bottom: 7rem !important;
}

.margin-bottom-8 {
  margin-bottom: 8rem !important;
}

.margin-bottom-9 {
  margin-bottom: 9rem !important;
}

.margin-bottom-10 {
  margin-bottom: 10rem !important;
}

.margin-bottom-11 {
  margin-bottom: 11em !important;
}

.margin-left-1 {
  margin-left: 1rem !important;
}

.margin-left-2 {
  margin-left: 2rem !important;
}

.margin-left-3 {
  margin-left: 3rem !important;
}

.margin-left-4 {
  margin-left: 4rem !important;
}

.margin-left-5 {
  margin-left: 5rem !important;
}

.margin-left-6 {
  margin-left: 6rem !important;
}

.margin-left-7 {
  margin-left: 7rem !important;
}

.margin-left-8 {
  margin-left: 8rem !important;
}

.margin-left-9 {
  margin-left: 9rem !important;
}

.margin-left-10 {
  margin-left: 10rem !important;
}

.margin-left-11 {
  margin-left: 11em !important;
}

.margin-right-1 {
  margin-right: 1rem !important;
}

.margin-right-2 {
  margin-right: 2rem !important;
}

.margin-right-3 {
  margin-right: 3rem !important;
}

.margin-right-4 {
  margin-right: 4rem !important;
}

.margin-right-5 {
  margin-right: 5rem !important;
}

.margin-right-6 {
  margin-right: 6rem !important;
}

.margin-right-7 {
  margin-right: 7rem !important;
}

.margin-right-8 {
  margin-right: 8rem !important;
}

.margin-right-9 {
  margin-right: 9rem !important;
}

.margin-right-10 {
  margin-right: 10rem !important;
}

.margin-right-11 {
  margin-right: 11em !important;
}

.margin-header-top {
  margin-top: 10rem !important;
}
.margin-header-top--big {
  margin-top: 17rem !important;
}

.padding-top-1 {
  padding-top: 1rem !important;
}

.padding-top-2 {
  padding-top: 2rem !important;
}

.padding-top-3 {
  padding-top: 3rem !important;
}

.padding-top-4 {
  padding-top: 4rem !important;
}

.padding-top-5 {
  padding-top: 5rem !important;
}

.padding-top-6 {
  padding-top: 6rem !important;
}

.padding-top-7 {
  padding-top: 7rem !important;
}

.padding-top-8 {
  padding-top: 8rem !important;
}

.padding-top-9 {
  padding-top: 9rem !important;
}

.padding-right-1 {
  padding-right: 1rem !important;
}

.padding-right-2 {
  padding-right: 2rem !important;
}

.padding-right-3 {
  padding-right: 3rem !important;
}

.padding-right-4 {
  padding-right: 4rem !important;
}

.padding-right-5 {
  padding-right: 5rem !important;
}

.padding-right-6 {
  padding-right: 6rem !important;
}

.padding-right-7 {
  padding-right: 7rem !important;
}

.padding-right-8 {
  padding-right: 8rem !important;
}

.padding-right-9 {
  padding-right: 9rem !important;
}

.padding-bottom-1 {
  padding-bottom: 1rem !important;
}

.padding-bottom-2 {
  padding-bottom: 2rem !important;
}

.padding-bottom-3 {
  padding-bottom: 3rem !important;
}

.padding-bottom-4 {
  padding-bottom: 4rem !important;
}

.padding-bottom-5 {
  padding-bottom: 5rem !important;
}

.padding-bottom-8 {
  padding-bottom: 8rem !important;
}

.padding-header-top {
  padding-top: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .padding-header-top {
    padding-top: 12rem !important;
  }
}
.padding-header-top--small {
  padding-top: 7rem !important;
}
.padding-header-top--big {
  padding-top: 17rem !important;
}

.pd-lr-9 {
  padding-left: 9rem !important;
  padding-right: 9rem !important;
}

.pd-tb-1 {
  padding: 1rem 0 !important;
}

.pd-tb-1-5 {
  padding: 1.5rem 0 !important;
}

.pd-tb-2 {
  padding: 2rem 0 !important;
}

.pd-tb-3 {
  padding: 3rem 0 !important;
}

.pd-all--1 {
  padding: 1.1rem 3.2rem;
}

.pd-all--2 {
  padding: 1.1rem 1.5rem;
}

.pd-all--2-4 {
  padding: 2rem 4rem;
}

.pd-section {
  padding: var(--pd-section) !important;
}

.padding-1 {
  padding: 1rem;
}

.padding-1-1 {
  padding: 1rem 1.5rem;
}

.padding-2 {
  padding: 2rem !important;
}

.padding-3 {
  padding: 3rem !important;
}

.c-padding-a-1 > * {
  padding: 1rem !important;
}

.c-padding-a-2 > * {
  padding: 2rem !important;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-3 {
  font-size: 3rem;
}

.font-size-4 {
  font-size: 4rem;
}

.font-size-5 {
  font-size: 5rem;
}

.font-size-1-5 {
  font-size: 1.5rem;
}

.font-size-2-1 {
  font-size: 2.1rem;
}

.font-size-2-2 {
  font-size: 2.2rem;
}

.font-size-2-3 {
  font-size: 2.3rem;
}

.font-size-2-4 {
  font-size: 2.4rem;
}

.font-size-2-5 {
  font-size: 2.5rem;
}

.font-size-3-5 {
  font-size: 3.5rem;
}

.font-size-4-5 {
  font-size: 4.5rem;
}

.font-size-5-5 {
  font-size: 5.5rem;
}

.section-border-rd--huge {
  border-radius: var(--b-radius-section) !important;
}

.section-border-rd--medium {
  border-radius: var(--b-radius--medium) !important;
}

@media only screen and (max-width: 37.5em) {
  .section-border-rd--small {
    border-radius: var(--b-radius--small) !important;
  }
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.align-center {
  align-items: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-normalize {
  flex-grow: 0;
  flex-shrink: 0;
}

.j-between {
  justify-content: space-between !important;
}

.j-center {
  justify-content: center !important;
}

.flex-2-con > * {
  flex: 0 0 45%;
}

.d-grid {
  display: grid;
}

.place-center {
  place-items: center;
}

.center-hv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gap-1 {
  gap: 1rem !important;
}

.gap-2 {
  gap: 2rem !important;
}

.gap-3 {
  gap: 3rem !important;
}

.gap-4 {
  gap: 4rem !important;
}

.gap-5 {
  gap: 5rem !important;
}

.gap-6 {
  gap: 6rem !important;
}

.gap-7 {
  gap: 7rem !important;
}

.gap-8 {
  gap: 8rem !important;
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.full-height {
  max-height: 100% !important;
  height: 100% !important;
}

.width-40 {
  max-width: 40rem;
  width: 100%;
}

.width-50 {
  max-width: 50rem;
  width: 100%;
}

.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

.width-400 {
  max-width: 40rem !important;
  width: 100% !important;
}

.width-500 {
  max-width: 50rem !important;
  width: 100% !important;
}

.width-600 {
  max-width: 60rem !important;
  width: 100% !important;
}

.modal-width {
  max-width: 60rem !important;
  width: 100% !important;
}

.border-collapse {
  border-collapse: collapse !important;
}

.odd-table-child-bg-grey tr:nth-child(odd) {
  background-color: var(--color-grey-light-3) !important;
}

.odd-child-bg-grey > *:nth-child(odd) {
  background-color: var(--color-grey-light-3) !important;
}

.even-child-bg-dark > *:nth-child(even) {
  background-color: var(--color-grey-dark-3) !important;
  color: var(--color-white) !important;
}

.even-child-bg-primary > *:nth-child(even) {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.even-child-bg-black > *:nth-child(even) {
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
}

.first-child-500 > *:first-child {
  font-weight: var(--font-weight-500) !important;
}

.first-child-600 > *:first-child {
  font-weight: var(--font-weight-500) !important;
}

.primary-full-background--light {
  background-color: #f4ba75 !important;
}

.bg-grey {
  background-color: #f4f2f2 !important;
}

.bg-grey--light-3 {
  background-color: var(--color-grey-light-3) !important;
}

.bg-grey--dark-3 {
  background-color: var(--color-grey-dark-3) !important;
}

.bg-grey--dark-4 {
  background-color: rgba(var(--gray60), 0.2) !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-primary--light {
  background-color: #fce9d3 !important;
}

.border-b-1 {
  border-bottom: 1px solid var(--color-white);
}

.border-r-3 {
  border-radius: 3px;
}

.border-r-3 {
  border-radius: 3px;
}

.border-r-3 {
  border-radius: 3px;
}

.border-r-3 {
  border-radius: 3px;
}

.border-none {
  border: none !important;
}

.font-weight-300 {
  font-weight: var(--font-weight-300) !important;
}

.font-weight-400 {
  font-weight: var(--font-weight-400) !important;
}

.font-weight-500 {
  font-weight: var(--font-weight-500) !important;
}

.font-weight-600 {
  font-weight: var(--font-weight-600) !important;
}

.font-weight-700 {
  font-weight: var(--font-weight-700) !important;
}

.modal-open {
  position: fixed;
  height: 100vh;
  overflow-y: hidden;
}

.color-primary {
  color: #ED8B16 !important;
}

.color-black {
  color: var(--color-black) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.color-red {
  color: var(--color-red) !important;
}

.color-purple {
  color: var(--color-purple) !important;
}

.color-grey--light-3 {
  color: var(--color-grey-light-3) !important;
}

.color-grey--light-4 {
  color: var(--color-grey-light-4) !important;
}

.color-grey--dark-3 {
  color: var(--color-grey-dark-3) !important;
}

.color-grey--dark-3-5 {
  color: rgba(var(--gray60), 1) !important;
}

.color-grey--dark-4 {
  color: rgba(var(--gray60), 0.2) !important;
}

.border-grey--light-3 {
  border: 1px solid var(--color-grey-light-3) !important;
}

.border-grey--light-4 {
  border: 1px solid var(--color-grey-light-4) !important;
}

.border-grey--dark-3 {
  border: 1px solid var(--color-grey-dark-3) !important;
}

.border-grey--dark-3-5 {
  border: 1px solid rgba(var(--gray60), 1) !important;
}

.border-grey--dark-4 {
  border: 1px solid rgba(var(--gray60), 0.2) !important;
}

.fill-primary {
  fill: var(--color-primary) !important;
}

.fill-black {
  fill: var(--color-black) !important;
}

.fill-white {
  fill: var(--color-white) !important;
}

.stroke-primary {
  stroke: #ED8B16 !important;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.focus-underline:focus {
  text-decoration: underline !important;
}

.font-size-inherit {
  font-size: inherit !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.left-align {
  text-align: left;
}

.body-copy {
  font-size: 1.7rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy {
    font-size: 1.9rem !important;
  }
}
.body-copy--small {
  font-size: 1.6rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--small {
    font-size: 1.8rem !important;
  }
}
.body-copy--smaller {
  font-size: 1.5rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--smaller {
    font-size: 1.7rem !important;
  }
}
.body-copy--smallest {
  font-size: 1.4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--smallest {
    font-size: 1.6rem !important;
  }
}
.body-copy--big {
  font-size: 1.8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--big {
    font-size: 2.1rem !important;
  }
}
.body-copy--large {
  font-size: 1.9rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--large {
    font-size: 2.2rem !important;
  }
}
.body-copy--larger {
  font-size: 2rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--larger {
    font-size: 2.2rem !important;
  }
}
.body-copy--largerr {
  font-size: 2.1rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--largerr {
    font-size: 2.3rem !important;
  }
}
.body-copy--largest {
  font-size: 2.2rem !important;
}
@media only screen and (max-width: 56.25em) {
  .body-copy--largest {
    font-size: 2.4rem !important;
  }
}

.font-body {
  font-family: var(--font-body) !important;
}

.border-r-50 {
  border-radius: 50rem !important;
}

.no-wrap {
  white-space: nowrap;
}

.no-animation {
  cursor: auto;
}
.no-animation:hover, .no-animation:focus {
  background-color: transparent !important;
}

.list-s-none {
  list-style: none !important;
}

.section-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-top: 0;
  padding: 0 3rem 14rem;
  padding-bottom: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.content {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.a {
  background-color: transparent;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #141e30;
  text-decoration: underline !important;
}

.ol, .ul {
  padding-left: 3.5rem;
  margin-bottom: 3rem;
}
.ol li, .ul li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.height-80 {
  height: 80vh;
  min-height: 80vh;
}
@media only screen and (max-width: 56.25em) {
  .height-80 {
    height: 60vh;
    min-height: 60vh;
  }
}

.height-90 {
  height: 90vh;
  min-height: 90vh;
}
@media only screen and (max-width: 56.25em) {
  .height-90 {
    height: 80vh;
    min-height: 80vh;
  }
}

.hero-section {
  display: grid;
  place-items: center;
  width: 100%;
}

.hero__text--small {
  max-width: 30rem;
  width: 100%;
}

.b-padding-big {
  padding: 1.5rem 2rem;
}

.size-1 {
  width: 1rem;
  height: 1rem;
}

.size-2 {
  width: 2rem;
  height: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .size-2 {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.size-2-2 {
  width: 2.2rem;
  height: 2.2rem;
}
@media only screen and (max-width: 56.25em) {
  .size-2-2 {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.size-3 {
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .size-3 {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.size-4 {
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .size-4 {
    width: 4.2rem;
    height: 4.2rem;
  }
}

.size-5 {
  width: 5rem;
  height: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .size-5 {
    width: 5.2rem;
    height: 5.2rem;
  }
}

.size-6 {
  width: 6rem;
  height: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .size-6 {
    width: 6.2rem;
    height: 6.2rem;
  }
}

.fill-current-color {
  fill: currentColor;
}

.no-text-wrap {
  white-space: nowrap !important;
}

.no-interact {
  pointer-events: none;
  user-select: none;
}

.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-center {
  align-items: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.pos-rel {
  position: relative;
}

.tooltip {
  background: #d70022;
  border-radius: 2px;
  color: #fff;
  padding: 5px 12px;
  position: absolute;
  top: -32px;
  z-index: 5;
}
.tooltip::after {
  background: #d70022;
  bottom: -8px;
  content: ".";
  height: 16px;
  position: absolute;
  text-indent: -999px;
  transform: rotate(45deg);
  white-space: nowrap;
  width: 16px;
  z-index: -1;
}

.c-text-align--left > * {
  text-align: left;
}

.border-b-white {
  border-bottom: 1px solid var(--color-white) !important;
}

.border-t-white {
  border-bottom: 1px solid var(--color-white) !important;
}

.line-h-1 {
  line-height: 1;
}

.button-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}
.button-icons > * {
  fill: var(--color-primary);
  width: 3rem;
  height: 3rem;
}

.error-thick {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
  .error-thick {
    font-size: 1.6rem;
  }
}
.error-thick--active {
  background-color: rgb(229, 57, 53);
  color: var(--color-white);
  padding: 5px 1rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.error-round {
  text-align: center;
  width: 90%;
  transform: translateX(-50%);
  left: 50%;
}

.err {
  color: red;
  padding-top: 0.5rem;
  line-height: 1;
}

.err-border {
  border: 1px solid red;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: 9999px 0 0 -5px var(--color-primary);
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-primary);
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px var(--color-primary);
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px var(--color-primary);
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

.section-medium {
  padding: 4rem 8rem;
}

.grid {
  display: grid;
}

.col-1-2 {
  grid-template-columns: 1fr 1fr;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  display: inline-block;
  border-radius: var(--b-radius-button);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: var(--font-weight-600);
  font-family: var(--font-body);
  background-color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .btn {
    font-size: 1.7rem;
  }
}
.btn--bare {
  border: none;
}
.btn--grow {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.btn--grow::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in, background-color 0.1s ease-in-out;
  border-radius: 10rem;
  background-color: transparent;
}
.btn--grow:active:after {
  transform: scale(50);
  background-color: rgba(0, 0, 0, 0.1);
}
.btn--green {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: background-color 0.2s;
}
.btn--green:hover, .btn--green:focus {
  background-color: rgba(237, 139, 22, 0.9);
}
.btn--green:active {
  transform: translateY(1px);
}
.btn--green-link {
  color: #c1700f;
  font-weight: var(--font-weight-400);
  font-size: 1.7rem;
  font-style: italic;
}
@media only screen and (max-width: 49.75em) {
  .btn--green-link {
    font-size: 1.8rem;
  }
}
.btn--green-link:hover, .btn--green-link:focus {
  text-decoration: underline;
}
.btn__arrow {
  display: flex;
  justify-content: center;
  padding: 2.2rem 4rem;
  align-items: center;
  gap: 2rem;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  font-size: 2rem;
  font-weight: 600;
}
.btn__arrow:hover, .btn__arrow:focus {
  box-shadow: none;
  transition: transform 100ms ease-in;
}
.btn__arrow:hover img, .btn__arrow:focus img {
  transform: rotate(45deg);
}
.btn__arrow:focus {
  transform: scale(0.98);
}
.btn__arrow span {
  line-height: 1;
}
.btn__arrow img {
  margin-bottom: -3px;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 100ms ease-out;
}
.btn__shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: transform 100ms ease-in;
  transform: translateY(-1px);
}
.btn__shadow:focus {
  box-shadow: none;
  transform: translateY(0);
}
.btn__scale {
  transition: transform 100ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.btn__scale:focus {
  transform: scale(0.98);
}

.cart__item-qty {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: translate(50%, -50%);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  font-weight: var(--font-weight-600);
}

.form__group {
  position: relative;
}
.form__label {
  position: relative;
  flex: 1;
}
.form__label-text {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 0;
  padding: 0;
  height: 0;
  display: inline-block;
  line-height: 0;
  margin: 0;
  font-size: 0;
}
.form__disclosure {
  font-size: 1.6rem;
  text-align: left;
  color: rgba(var(--gray100), 1);
}
@media only screen and (max-width: 56.25em) {
  .form__disclosure {
    font-size: 1.8rem;
  }
}
.form__input {
  --border-size: 1.5px;
  display: inline-block;
  border-radius: 5px;
  font-size: 1.8rem;
  font-family: inherit;
  display: inline-block;
  border: var(--border-size) solid var(--color-grey-light-4);
  /* 
      SET CUSTOM PADDING AND WIDTH
  */
  transition: all 10ms;
}
@media only screen and (max-width: 56.25em) {
  .form__input {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 41em) {
  .form__input {
    border: var(--border-size) solid var(--color-grey-light-3);
  }
}
.form__input:focus, .form__input:hover {
  border: var(--border-size) solid var(--color-primary);
  outline: var(--border-size) solid #f4ba75;
  outline-offset: 2px;
}
.form__input:not(:placeholder-shown) {
  border: var(--border-size) solid var(--color-primary);
}
@media only screen and (max-width: 41em) {
  .form__input::placeholder {
    font-size: 2rem;
    font-weight: var(--font-weight-500);
    color: var(--color-grey-dark-3);
  }
}
.form__input--border-down {
  border: var(--border-size) solid transparent;
  border-bottom: var(--border-size) solid var(--color-grey-light-4);
  padding-left: 0px;
  border-radius: 0px;
}
.form__input--border-down:focus, .form__input--border-down:hover {
  border: var(--border-size) solid transparent;
  border-bottom: var(--border-size) solid var(--color-grey-light-4);
  outline: var(--border-size) solid #f4ba75;
  outline-offset: 2px;
}
.form__input--valid {
  border: var(--border-size) solid var(--color-primary);
}
.form__input--valid-plain {
  border-bottom: var(--border-size) solid var(--color-primary);
}
.form__input--invalid {
  border: var(--border-size) solid red !important;
}
.form__input--invalid-plain {
  border-bottom: var(--border-size) solid red !important;
}
.form__icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6%;
}
.form__cross-icon {
  --size: 1.3rem;
  width: var(--size);
  height: var(--size);
  fill: #ff1414;
}
@media only screen and (max-width: 41em) {
  .form__cross-icon {
    --size: 1.5rem;
  }
}
.form__check-icon {
  --size: 1.7rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary);
}
@media only screen and (max-width: 41em) {
  .form__check-icon {
    --size: 2rem;
  }
}
.form__password-wrapper {
  position: relative;
  line-height: 1;
}
.form__password-icons {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form__password-icon {
  width: 2.7rem;
  height: 2.7rem;
  fill: var(--color-grey-dark-2);
}
.form__password-icon--inactive {
  display: none;
}

.form-error {
  background-color: #fcaea0;
  padding: 1.7rem 2rem;
  margin-bottom: 1rem;
}
.form-error:last-of-type {
  margin-bottom: 2rem;
}
.form-error__text {
  color: #1c1d1f;
  font-weight: var(--font-weight-500);
  font-size: 1.5rem;
  display: block;
}

.form-success {
  background-color: var(--color-primary--light);
  padding: 1.7rem 2rem;
  margin-bottom: 1rem;
}
.form-success:last-of-type {
  margin-bottom: 2rem;
}
.form-success__text {
  color: var(--color-white);
  font-weight: var(--font-weight-500);
  font-size: 1.5rem;
  display: block;
}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 200000;
}
.popup--active {
  display: block;
}
.popup__background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 200000;
}
.popup__background--active {
  display: block;
}
.popup__content {
  position: relative;
  z-index: 210000;
}
.popup__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--color-white);
  transform: translate(-50%, -50%);
  padding: 4rem 2.5rem;
}
.popup__button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: scale(1.1);
  line-height: 1;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  transition: all 10ms ease-out;
}
.popup__button:hover {
  background-color: var(--color-grey-light-3);
}
.popup__button:active {
  transform: translateY(2px) scale(1);
}
.popup__button svg {
  width: 20px;
  height: 20px;
  line-height: 1;
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__close {
  position: absolute;
  top: 3rem;
  right: 2rem;
  transform: scale(1.1);
  line-height: 1;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  transition: all 10ms ease-out;
}
.popup__close:hover {
  background-color: var(--color-grey-light-3);
}
.popup__close:active {
  transform: translateY(2px) scale(1);
}
.popup__close svg {
  width: 2rem;
  height: 2rem;
  line-height: 1;
  stroke: var(--color-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=main.css.map */
