#shopImgWrapper {
	bottom: -1rem;
}

#shopImg {
	width: 19rem;
}

#shopImg2 {
	width: 17.4rem;
}

#shopImg2Wrapper {
	right: 21rem;
	bottom: -1rem;
}

@media screen and (max-width: 767px) {
	#shopImg {
		width: 14rem;
	}
}

@media screen and (max-width: 575px) {
	#shopImg {
		width: 10rem;
	}
}

#loadMoreWrapper>.btn {
	color: var(--bs-secondary);
}

#loadMoreWrapper>.btn:hover,
#loadMoreWrapper>.btn:focus {
	color: var(--bs-dark);
}